# Ignore node_modules
node_modules/

# Ignore the Next.js build output
.next/

# Ignore the Next.js cache
.next/cache/

# Ignore the Next.js static export output
out/

# Ignore environment variable files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore IDE-specific files
.vscode/
.idea/
